main {
  background-color: #fff;
}

nav {
    margin: 0;
    padding: 10px;
  }

  li {
    text-align: right; 
    list-style: none;
    padding: 5px;
  }
  
  h1 {
    color: rgb(222, 97, 97);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  body {
    margin: 0;
    margin-top: 0;
    padding: 0;
    background-color: #1E0D30;
}

.welcome-title {
  color: #FC7AC8;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar-message {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.welcome-p {
  color: #fff;
  font-size: x-small;
}
